DB_DRIVER=mysql+pymysql
DB_HOST=localhost
DB_PORT=3305
DB_USER=spring
DB_PASS=spring123
DB_NAME=minha_base

LOCALSTACK_ENDPOINT=http://localhost:4566
QUEUE_NAME=tratar-ativos
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

DYNAMO_ENDPOINT=http://localhost:4566
DYNAMO_TABLE_NAME=insights-refinados

RETRY_ATTEMPTS=3
RETRY_DELAY=10
LOG_LEVEL=INFO

